<div class="l-side">
  <section class="l-side-container">
    <h3 class="transact-info-head">取引情報</h3>
    <div class="transact-info-inner">
      <ul class="transact-info-table">
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">商品</span>
          <ul class="transact-info-table-cell">
            <li>
              <a href="https://item.mercari.com/jp/m52317412621/">
                <img data-src="<%= @product.product_images[0].image %>" class=" is-higher-height lazyloaded" alt="" src="<%= @product.product_images[0].image %>">
                <div class="transact-info-item bold">
                  <%= @product.name %>
                <br>
                ¥ <%= price_delimiter(@product.price) %>
                </div>
              </a>
            </li>
          </ul>
        </li>
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">送料</span>
          <ul class="transact-info-table-cell">
            <li>
              送料込み(出品者負担)
            </li>
          </ul>
        </li>
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">購入日時</span>
          <ul class="transact-info-table-cell">
            <li><%= @product.purchased_at.to_s(:default) %></li>
          </ul>
        </li>
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">商品ID</span>
          <ul class="transact-info-table-cell">
            <li>m<% srand(6)%><%= rand(1000000) %><%= @product.id %></li>
          </ul>
        </li>
        <li class="transact-info-table-row">
          <span class="transact-info-table-cell">お届け先</span>
          <ul class="transact-info-table-cell">
            <li>
              <p>〒<%= @buyer.address.postal_code %></p>
              <p>
                <%= @buyer.address.prefecture %>
                <%= @buyer.address.city %>
                <%= @buyer.address.street_number %>
              </p>
              <p></p><%= @buyer.address.building_number %>
              <p><span class="buyer-name"><%= @buyer.address.family_name %><%= @buyer.address.first_name %></span> 様</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
  <section class="l-side-container">
    <h3 class="transact-info-head">出品者情報</h3>
    <div class="transact-info-inner">
      <a href="https://www.mercari.com/jp/u/983966298/" class="transaction-user-icon">
        <figure>
          <div>
            <img src="https://static-mercari-jp-imgtr2.akamaized.net/members/983966298.jpg?1496547172" alt="" width="40">
          </div>
          <figcaption class="bold">
            <div class="transact-user-name">
              <%= @seller.nickname %>
            </div>
          </figcaption>
        </figure>
        <i class="icon-arrow-right"></i>
      </a>
    </div>
  </section>
  <div class="l-visible-large">
    <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" class="side-banner">
      <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/side_banner.jpg?1236411757" alt="Download Mercari Now">
    </a>
  </div>
</div>
