<%= render partial: "layouts/header" %>
  <main class=" l-container clearfix">
    <div class="l-content">
      <section class="mypage-user-icon" style="background-image:url(<%= asset_path "user-bg.jpg" %>)">
        <%= link_to exhibitor_path(current_user) do %>
          <figure>
            <img src="//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png" alt="" width="60" height="60">
          </figure>
          <h2 class="bold"><%= current_user.nickname %></h2>
          <div class="mypage-number">
            <div>評価 <span class="bold">3</span></div>
            <div>出品数 <span class="bold">2</span></div>
          </div>
        <% end %>
      </section>

      <section class="mypage-tab-container-notification-todo">
        <ul class="mypage-tabs">
          <li class="active">
            <h3>
              <a href="#mypage-tab-notification", data-toggle="tab">
                お知らせ
                <span class="mypage-nav-number hidden-large">
                  64
                </span>
              </a>
            </h3>
          </li>

          <li class="">
            <h3>
              <a href="#mypage-tab-todo", data-toggle="tab" >
                やることリスト
              </a>
            </h3>
          </li>
        </ul>

        <div class="tab-content">
          <ul id="mypage-tab-notification" class="mypage-item-list tab-pane active">
            <li>
              <a href="https://www.mercari.com/jp/transaction/order_status/m93754198767/" class="mypage-item-link">
                <figure>
                  <img data-src="//static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m93754198767_1.jpg?1533532544" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">「小悪魔女子大生のサーバエンジニア日記 : インターネットやサーバのしくみが楽し…」を購入しました。発送までしばらくお待ちください。</div>
                  <time><i class="icon-time"></i><span>9 時間前</span></time>
                </div>
                <i class="fas fa-angle-right"></i>
              </a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/mypage/news/" class="mypage-item-link">
                <figure>
                  <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">事務局から個別メッセージ「【テレビ取材ご協力のお願い】メルカリをユニークに使っている方、大募集！」</div>
                  <time><i class="icon-time"></i><span>1 日前</span></time>
                </div>
                <i class="fas fa-angle-right"></i>
              </a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/transaction/order_status/m15580805648/" class="mypage-item-link">
                <figure>
                  <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/member_photo_noimage_thumb.png" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">きみりんさんがあなたを評価しました。これで取引完了です。</div>
                  <time><i class="icon-time"></i><span>7 日前</span></time>
                </div>
                <i class="fas fa-angle-right"></i>
              </a>
            </li>
            <li>
              <a href="", class="mypage-item-link", data-open="modal", data-modal="banner">
                <figure>
                  <img data-src="//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">初出品ありがとうございます！5品出品すると売れる確率が約80％まで上がるというデータがあります。もう少し出品してみませんか？</div>
                  <time><i class="icon-time"></i><span>11 日前</span></time>
                </div>
                <i class="fas fa-angle-right"></i>
              </a>
            </li>
            <li>
              <a href="https://www.mercari.com/jp/transaction/order_status/m15580805648/" class="mypage-item-link">
                <figure>
                  <img data-src="//static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15580805648_1.jpg?1532637194" class="lazyload" alt="">
                </figure>
                <div class="mypage-item-body">
                  <div class="mypage-item-text">「⭐️ 赤字覚悟‼️⭐︎シームレスフットカバー3足」を購入しました。発送までしばらくお待ちください。</div>
                  <time><i class="icon-time"></i><span>12 日前</span></time>
                </div>
                <i class="fas fa-angle-right"></i>
              </a>
            </li>
            <li class="mypage-go-list">
              <a href="/jp/mypage/notification/">一覧を見る</a>
            </li>
          </ul>

          <ul id="mypage-tab-todo" class="mypage-item-list tab-pane">
            <li class="mypage-item-not-found bold">現在、やることリストはありません</li>
          </ul>
        </div>
      </section>


      <aside class="modal", data-modal="banner", data-close="modal">
        <div class="modal-inner modal-banner">
          <div class="modal-banner-eye-catch">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?1845134038" alt="">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1845134038" alt="">
          </div>

          <div class="modal-banner-body">
            <h2>今すぐ無料ダウンロード！</h2>
              <p class="bold">全ての機能を使えるスマホアプリはこちら！</p>
            <div class="modal-banner-app clearfix">
              <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" class="pull-left">
                <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1845134038" alt="">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" target="_blank" class="pull-left">
                <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1845134038" alt="">
              </a>
            </div>
            <a
              href=""
              class="modal-banner-app-open"
              data-toggle="open-app"
              data-url-scheme="mercari://"
              data-action="app/launch"
              data-play-id="com.kouzoh.mercari">
                アプリで開く
            </a>
          </div>

          <i class="icon-close" data-close="modal"></i>
        </div>
      </aside>

      <section class="mypage-tab-container">
        <h2 class="mypage-tab-head">購入した商品</h2>

          <ul class="mypage-tabs">
            <li class="active">
              <h3>
                <a
                  href="#mypage-tab-transaction-now"
                  data-toggle="tab">
                    取引中
                </a>
              </h3>
            </li>

            <li class="">
              <h3>
                <a
                  href="#mypage-tab-transaction-old"
                  data-toggle="tab">
                    過去の取引
                </a>
              </h3>
            </li>
          </ul>
          <div class="tab-content">
            <ul id="mypage-tab-transaction-now" class="mypage-item-list tab-pane active">
              <li>
                <a href="https://www.mercari.com/jp/transaction/order_status/m93754198767/" class="mypage-item-link">
                  <figure>
                    <img data-src="//static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m93754198767_1.jpg?1533532544" class="lazyload" alt="">
                  </figure>
                  <div class="mypage-item-body">
                    <div class="mypage-item-text">
                      「小悪魔女子大生のサーバエンジニア日記 : インターネットやサーバのしくみが楽し…」 を購入しました。
                      <span>発送をお待ちください</span>
                    </div>

                    <div class="mypage-item-status bold awaiting">
                      発送待ち
                    </div>
                  </div>
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
              <li class="mypage-go-list">
                <a href="/jp/mypage/purchase/">一覧を見る</a>
              </li>
            </ul>

            <ul id="mypage-tab-transaction-old" class="mypage-item-list tab-pane">
              <li>
                <a href="https://www.mercari.com/jp/transaction/order_status/m15580805648/" class="mypage-item-link">
                  <figure>
                    <img data-src="//static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m15580805648_1.jpg?1532637194" class="lazyload" alt="">
                  </figure>
                  <div class="mypage-item-body">
                    <div class="mypage-item-text">
                      「⭐️ 赤字覚悟‼️⭐︎シームレスフットカバー3足」 を購入しました。
                      <span>取引が完了しました</span>
                    </div>

                    <div class="mypage-item-status bold done">
                      取引完了
                    </div>
                  </div>
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
              <li>
                <a href="https://www.mercari.com/jp/transaction/order_status/m67656614177/" class="mypage-item-link">
                  <figure>
                    <img data-src="//static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m67656614177_1.jpg?1521865622" class="lazyload" alt="">
                  </figure>
                  <div class="mypage-item-body">
                    <div class="mypage-item-text">
                      「☆送料無料☆オブジェクト指向でなぜつくるのか/平沢章」 を購入しました。
                      <span>取引が完了しました</span>
                    </div>

                    <div class="mypage-item-status bold done">
                      取引完了
                    </div>
                  </div>
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
              <li>
                <a href="https://www.mercari.com/jp/transaction/order_status/m42959579464/" class="mypage-item-link">
                  <figure>
                    <img data-src="//static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m42959579464_1.jpg?1527316811" class="lazyload" alt="">
                  </figure>
                  <div class="mypage-item-body">
                    <div class="mypage-item-text">
                      「マスタリングTCP/IP 入門編/竹下 降史」 を購入しました。
                      <span>取引が完了しました</span>
                    </div>

                    <div class="mypage-item-status bold done">
                      取引完了
                    </div>
                  </div>
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
              <li>
                <a href="https://www.mercari.com/jp/transaction/order_status/m86517473515/" class="mypage-item-link">
                  <figure>
                    <img data-src="//static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m86517473515_1.jpg?1526688375" class="lazyload" alt="">
                  </figure>
                  <div class="mypage-item-body">
                    <div class="mypage-item-text">
                      「JILLストッキング」 を購入しました。
                      <span>取引が完了しました</span>
                    </div>

                    <div class="mypage-item-status bold done">
                      取引完了
                    </div>
                  </div>
                  <i class="fas fa-angle-right"></i>
                </a>
              </li>
              <li class="mypage-go-list">
                <a href="/jp/mypage/purchased/">一覧を見る</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    <%= render partial: "layouts/leftside_menu" %>
  </main>
<%= render partial: "layouts/footer" %>
