<!DOCTYPE html>
<html lang="ja-JP">

<head>
  <meta charset="utf-8">

      <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>レディースの買取通販 - メルカリフリマ|中古・未使用・古着</title>
  <meta name="description" content="レディースレディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーは長財布と麦わら帽子です。人気の商品は「FENDI 財布（レディース）」や「値下げ♪soulberry　アンダリカール ブルーマ 4WAYリボンハット」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。">


    <meta property="og:type" content="website">
  <meta property="og:site_name" content="メルカリ スマホでかんたん フリマアプリ">
  <meta property="og:title" content="レディース - メルカリ スマホでかんたん フリマアプリ">
  <meta property="og:description" content="レディースレディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーは長財布と麦わら帽子です。人気の商品は「FENDI 財布（レディース）」や「値下げ♪soulberry　アンダリカール ブルーマ 4WAYリボンハット」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。">
  <meta property="og:url" content="      https://www.mercari.com/jp/category/1/
  ">
  <meta property="og:image" content="https://www.mercari.com/jp/assets/img/common/jp/ogp.png">

  <meta property="al:ios:app_name" content="フリマアプリ「メルカリ」">
  <meta property="al:ios:app_store_id" content="667861049">
  <meta property="al:ios:url" content="mercari://app/launch">
  <meta property="al:android:app_name" content="フリマアプリ「メルカリ」">
  <meta property="al:android:package" content="com.kouzoh.mercari">

  <meta name="twitter:card" content="app">
  <meta name="twitter:site" content="@mercari_jp">
  <meta name="twitter:title" content="レディース">
  <meta name="twitter:description" content="レディースレディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーは長財布と麦わら帽子です。人気の商品は「FENDI 財布（レディース）」や「値下げ♪soulberry　アンダリカール ブルーマ 4WAYリボンハット」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。">
  <meta name="twitter:image" content="https://www.mercari.com/jp/assets/img/common/jp/ogp.png">

  <meta name="twitter:app:country" content="jp">
  <meta name="twitter:app:name:iphone" content="フリマアプリ「メルカリ」">
  <meta name="twitter:app:name:ipad" content="フリマアプリ「メルカリ」">
  <meta name="twitter:app:name:googleplay" content="フリマアプリ「メルカリ」">
  <meta name="twitter:app:id:iphone" content="667861049">
  <meta name="twitter:app:id:ipad" content="667861049">
  <meta name="twitter:app:id:ipad" content="667861049">
  <meta name="twitter:app:id:googleplay" content="com.kouzoh.mercari">

  <meta name="format-detection" content="telephone=no">

  <link rel="canonical" href="      https://www.mercari.com/jp/category/1/&#10;  ">
        <link rel="amphtml" href="/jp/category/1/?amp=1">


  <link rel="next" href="https://www.mercari.com/jp/category/1/?page=2">


      <link href="/jp/assets/css/app.jp.css?753339668" rel="stylesheet">

  <link rel="shortcut icon" href="//www-mercari-jp.akamaized.net/favicon.ico?379931018">
<link rel="apple-touch-icon" href="//www-mercari-jp.akamaized.net/apple-touch-icon.png?379931018">
<link rel="icon" type="image/png" href="//www-mercari-jp.akamaized.net/favicon-16x16.png?379931018" sizes="16x16">
<link rel="icon" type="image/png" href="//www-mercari-jp.akamaized.net/favicon-32x32.png?379931018" sizes="32x32">
<link rel="icon" type="image/png" href="//www-mercari-jp.akamaized.net/favicon-194x194.png?379931018" sizes="194x194">
<link rel="icon" type="image/png" href="//www-mercari-jp.akamaized.net/android-chrome-192x192.png?379931018" sizes="192x192">
<link rel="mask-icon" href="//www-mercari-jp.akamaized.net/safari-pinned-tab.svg?379931018" color="#ea352d">
<link rel="manifest" href="//www-mercari-jp.akamaized.net/manifest.json?379931018">
<meta name="msapplication-TileColor" content="#ffc40d">
<meta name="msapplication-TileImage" content="//www-mercari-jp.akamaized.net/mstile-144x144.png?379931018">
<meta name="theme-color" content="#ea352d">
<link rel="apple-touch-icon-precomposed" href="//www-mercari-jp.akamaized.net/apple-touch-icon-precomposed.png?379931018">
<link rel="apple-touch-icon" sizes="57x57" href="//www-mercari-jp.akamaized.net/apple-touch-icon-57x57.png?379931018">
<link rel="apple-touch-icon" sizes="60x60" href="//www-mercari-jp.akamaized.net/apple-touch-icon-60x60.png?379931018">
<link rel="apple-touch-icon" sizes="72x72" href="//www-mercari-jp.akamaized.net/apple-touch-icon-72x72.png?379931018">
<link rel="apple-touch-icon" sizes="76x76" href="//www-mercari-jp.akamaized.net/apple-touch-icon-76x76.png?379931018">
<link rel="apple-touch-icon" sizes="114x114" href="//www-mercari-jp.akamaized.net/apple-touch-icon-114x114.png?379931018">
<link rel="apple-touch-icon" sizes="120x120" href="//www-mercari-jp.akamaized.net/apple-touch-icon-120x120.png?379931018">
<link rel="apple-touch-icon" sizes="144x144" href="//www-mercari-jp.akamaized.net/apple-touch-icon-144x144.png?379931018">
<link rel="apple-touch-icon" sizes="152x152" href="//www-mercari-jp.akamaized.net/apple-touch-icon-152x152.png?379931018">
<link rel="apple-touch-icon" sizes="180x180" href="//www-mercari-jp.akamaized.net/apple-touch-icon-180x180.png?379931018">

  <link rel="alternate" href="android-app://com.kouzoh.mercari/mercari/search/openResults?item_category_id=1&amp;item_category_name=%E3%83%AC%E3%83%87%E3%82%A3%E3%83%BC%E3%82%B9">

</head>

<body class="">

<div class="default-container ">
<header class="sp-header visible-sp">
  <div class="sp-header-inner clearfix">
    <h1>
      <a href="/">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?304547132" alt="mercari"  width="148" height="40">
      </a>
    </h1>

    <div class="sp-header-user-nav clearfix">
      <a href="https://www.mercari.com/jp/mypage/" class="sp-header-user-icon">
        <figure>
          <div>
            <img src="//static-mercari-jp-imgtr2.akamaized.net/thumb/members/557352198.jpg?1532452662" alt="" width="32">
          </div>
          <figcaption>2</figcaption>
        </figure>
      </a>
      <form action="https://www.mercari.com/jp/search/" class="sp-header-form">
        <input type="search" name="keyword" value="" placeholder="キーワードから探す" class="sp-header-search input-default">
        <i class="fas fa-search"></i>
      </form>
    </div>
  </div>
  <%= render partial: "/products/category" %>
  <% if user_signed_in? %>
    <%= render partial: "/products/notification" %>
  <% else %>
    <%= render partial: "/products/user_signed_out" %>
  <% end %>
</header>
<nav class="bread-crumbs">
  <ul>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="<%= root_path %>" itemprop="url">
        <span itemprop="title">メルカリ</span>
      </a>
      <i class="fas fa-angle-right"></i>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="<%= categories_path %>" itemprop="url">
        <span itemprop="title">カテゴリー一覧</span>
      </a>
      <i class="fas fa-angle-right"></i>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title">選択したカテゴリ</span>
    </li>
  </ul>
</nav>
<main class=" l-container clearfix">
  <div class="l-content full-width">
    <div class="spacial-description">
      <div class="text-center spacial-description-title red">
        <h3 class="font-white"><%= @category_info[1] %></h3>
      </div>
      <div class="white spacial-description-text">
        <p>レディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーはモカシンとひざ丈ワンピースです。人気の商品は「MINNETONKA KILTYモカシン」や「大きいサイズ おしゃれ  気質 ワンピースa0017」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。</p>
      </div>
    </div>
    <ul class="parts-nav clearfix">
      <li>
        <a href="https://www.mercari.com/jp/category/16/">
        靴　（選択したカテゴリの子カテゴリで出品数が多い順）
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/15/">
        ワンピース
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/27/">
        スーツ/フォーマル/ドレス
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/26/">
        浴衣/水着
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/21/">
        アクセサリー
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/14/">
        スカート
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/11/">
        トップス
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/22/">
        ヘアアクセサリー
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/28/">
        マタニティ
        </a>
      </li>
    </ul>
    <section class="items-box-container clearfix">
        <h2 class="items-box-head">
          <%= @category_info[1] %>の商品一覧
        </h2>
      <div class="items-box-content clearfix">
        <% if @products.empty? %>
          <h2 class="items-box-head">
            商品は出品されていません。
          </h2>
        <% else %>
          <% @products.each do |product| %>
            <%= render partial: '/products/product', locals: {product: product} %>
          <% end %>
        <% end %>
      </div>
    </section>
    <ul class="pager">
      <li class="pager-num">
        <ul>
          <li class="pager-cell active">
              1
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=2">2</a>
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=3">3</a>
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=4">4</a>
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=5">5</a>
          </li>
        </ul>
      </li>
      <li class="pager-next visible-pc">
      <ul>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=2">
              <i class="fas fa-angle-right"></i>
            </a>
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=100">
              <i class="icon-arrow-double-right"></i>
            </a>
          </li>
        </ul>
      </li>
      </ul>
  </div>

  <div class="l-side hidden">
            <div class="l-visible-large">
      <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" class="side-banner">
                  <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/side_banner.jpg?379931018" alt="Download Mercari Now">
              </a>
    </div>
  </div>
</main>
</div>
<script src="//www-mercari-jp.akamaized.net/assets/js/app.js?3627341185"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50190241-1', 'auto');
  ga('send', 'pageview');
</script>


  <script type="text/javascript">
  window.dataLayer = window.dataLayer || []
  dataLayer.push({
    'event': 'dynamic_category',
    'uid': '',
    'ecomm_pagetype': 'category'
  });
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KLPT5L5');</script>
<!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
