<%= render partial: "layouts/header" %>
<div class="default-container">
<nav class="bread-crumbs">
  <ul>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <%= link_to root_path do %>
        <span>メルカリ</span>
      <% end %>
      <i class="fas fa-angle-right"></i>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <%= link_to user_path(current_user) do %>
        <span>マイページ</span>
      <% end %>
      <i class="fas fa-angle-right"></i>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title">選択したカテゴリ</span>
    </li>
  </ul>
</nav>
<main class="l-container clearfix">
  <div class="l-content full-width">
    <div class="spacial-description">
      <div class="text-center spacial-description-title red">
        <h3 class="font-white"><%= @category_info[1] %></h3>
      </div>
      <div class="white spacial-description-text">
        <p>レディースの着ない服、いらない洋服を売るならメルカリへ。レディースの商品は100万点以上あります。人気のあるカテゴリーはモカシンとひざ丈ワンピースです。人気の商品は「MINNETONKA KILTYモカシン」や「大きいサイズ おしゃれ  気質 ワンピースa0017」があります。レディースの買い取りやリサイクル処分、服の整理を検討中の方にお勧めです。</p>
      </div>
    </div>
    <ul class="parts-nav clearfix">
      <li>
        <a href="https://www.mercari.com/jp/category/16/">
        靴
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/15/">
        ワンピース
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/27/">
        スーツ/フォーマル/ドレス
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/26/">
        浴衣/水着
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/21/">
        アクセサリー
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/14/">
        スカート
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/11/">
        トップス
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/22/">
        ヘアアクセサリー
        </a>
      </li>
      <li>
        <a href="https://www.mercari.com/jp/category/28/">
        マタニティ
        </a>
      </li>
    </ul>
    <section class="items-box-container clearfix">
        <h2 class="items-box-head">
          <%= @category_info[1] %>の商品一覧
        </h2>
      <div class="items-box-content clearfix">
        <% if @products.empty? %>
          <h2 class="items-box-head">
            商品は出品されていません。
          </h2>
        <% else %>
          <% @products.each do |product| %>
            <%= render partial: product %>
          <% end %>
        <% end %>
      </div>
    </section>
    <ul class="pager">
      <li class="pager-num">
        <ul>
          <li class="pager-cell active">
              1
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=2">2</a>
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=3">3</a>
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=4">4</a>
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=5">5</a>
          </li>
        </ul>
      </li>
      <li class="pager-next visible-pc">
      <ul>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=2">
              <i class="fas fa-angle-right"></i>
            </a>
          </li>
          <li class="pager-cell">
            <a href="/jp/category/1/?page=100">
              <i class="fas fa-angle-double-right"></i>
            </a>
          </li>
        </ul>
      </li>
      </ul>
  </div>

  <div class="l-side hidden">
    <div class="l-visible-large">
      <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" target="_blank" class="side-banner">
        <img src="//www-mercari-jp.akamaized.net/assets/img/common/jp/side_banner.jpg?379931018" alt="Download Mercari Now">
      </a>
    </div>
  </div>
</main>
<%= render partial: "layouts/footer" %>
