<section class="items-box">
  <a href = "/products/<%= product.id%>" method = "get">
    <figure class="items-box-photo">
      <img data-src="<%= product.product_images[0].image %>" class="lazyload" alt="<%= product.name %>">
    </figure>
    <div class="items-box-body">
      <h3 class="items-box-name font-2"><%= product.name %></h3>
      <div class="items-box-num clearfix">
        <div class="items-box-price font-5">¥ <%= price_delimiter(product.price) %></div>
        <p class="item-box-tax">(税込)</p>
        </div>
    </div>
  </a>
</section>
