/ react-textと記載があるところは、本家ではjsで記載されているところ
!!!
%html{:lang => "ja-JP"}
  / %script{:src => "//www-mercari-jp.akamaized.net/assets/js/sell.js?3788517629"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %title 出品 - メルカリ スマホでかんたん フリマアプリ
    %meta{:content => "CMで話題！フリマアプリ「メルカリ」は、スマホから誰でも簡単に売り買いが楽しめるフリマアプリです。購入時はクレジットカード・キャリア決済・コンビニ・銀行ATMで支払いでき、品物が届いてから出品者に入金される独自システムで安心です。", :name => "description"}/
    %meta{:content => "telephone=no", :name => "format-detection"}/
    %link{:href => "/jp/assets/css/app.jp.css?3563859531", :rel => "stylesheet"}/
    %link{:href => "//www-mercari-jp.akamaized.net/favicon.ico?1845134038", :rel => "shortcut icon"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon.png?1845134038", :rel => "apple-touch-icon"}/
    %link{:href => "//www-mercari-jp.akamaized.net/favicon-16x16.png?1845134038", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "//www-mercari-jp.akamaized.net/favicon-32x32.png?1845134038", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "//www-mercari-jp.akamaized.net/favicon-194x194.png?1845134038", :rel => "icon", :sizes => "194x194", :type => "image/png"}/
    %link{:href => "//www-mercari-jp.akamaized.net/android-chrome-192x192.png?1845134038", :rel => "icon", :sizes => "192x192", :type => "image/png"}/
    %link{:color => "#ea352d", :href => "//www-mercari-jp.akamaized.net/safari-pinned-tab.svg?1845134038", :rel => "mask-icon"}/
    %link{:href => "//www-mercari-jp.akamaized.net/manifest.json?1845134038", :rel => "manifest"}/
    %meta{:content => "#ffc40d", :name => "msapplication-TileColor"}/
    %meta{:content => "//www-mercari-jp.akamaized.net/mstile-144x144.png?1845134038", :name => "msapplication-TileImage"}/
    %meta{:content => "#ea352d", :name => "theme-color"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-precomposed.png?1845134038", :rel => "apple-touch-icon-precomposed"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-57x57.png?1845134038", :rel => "apple-touch-icon", :sizes => "57x57"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-60x60.png?1845134038", :rel => "apple-touch-icon", :sizes => "60x60"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-72x72.png?1845134038", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-76x76.png?1845134038", :rel => "apple-touch-icon", :sizes => "76x76"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-114x114.png?1845134038", :rel => "apple-touch-icon", :sizes => "114x114"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-120x120.png?1845134038", :rel => "apple-touch-icon", :sizes => "120x120"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-144x144.png?1845134038", :rel => "apple-touch-icon", :sizes => "144x144"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-152x152.png?1845134038", :rel => "apple-touch-icon", :sizes => "152x152"}/
    %link{:href => "//www-mercari-jp.akamaized.net/apple-touch-icon-180x180.png?1845134038", :rel => "apple-touch-icon", :sizes => "180x180"}/
  %body
    .single-container
      %header.single-header
        %h1
          %a{:href => "/"}
            %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1845134038"}/
      %main.single-main
        %section.l-single-container.buy-item-container
          #sell-container
            %div{"data-reactroot" => ""}
              .sell-container-inner
                %h2.l-single-head 商品の情報を入力
                = form_for @product do |f|
                  .sell-upload-box
                    %h3.sell-upload-head
                      / react-text: 7
                      出品画像
                      / /react-text
                      %span.form-require 必須
                    %p 最大4枚までアップロードできます
                    .sell-dropbox-container.clearfix
                      .sell-upload-items
                      = f.fields_for :product_images do |image|
                        %label.label-upload-drop-box{for: "upload-image"}
                          .sell-upload-drop-box.have-item-3.one
                            = image.file_field :image, style: "display:none", id: "upload-image"
                            = image.hidden_field :status, value:"1"
                            %pre.visible-pc
                              :preserve
                                ドラッグアンドドロップ
                                またはクリックしてファイルをアップロード
                      = f.fields_for :product_images do |image|
                        %label.label-upload-drop-box{for: "upload-image"}
                          .sell-upload-drop-box.have-item-3
                            = image.file_field :image, style: "display:none", id: "upload-image"
                            = image.hidden_field :status, value:"1"
                            %pre.visible-pc
                              :preserve
                                ドラッグアンドドロップ
                                またはクリックしてファイルをアップロード
                      = f.fields_for :product_images do |image|
                        %label.label-upload-drop-box{for: "upload-image"}
                          .sell-upload-drop-box.have-item-3
                            = image.file_field :image, style: "display:none", id: "upload-image"
                            = image.hidden_field :status, value:"1"
                            %pre.visible-pc
                              :preserve
                                ドラッグアンドドロップ
                                またはクリックしてファイルをアップロード
                      = f.fields_for :product_images do |image|
                        %label.label-upload-drop-box{for: "upload-image"}
                          .sell-upload-drop-box.have-item-3
                            = image.file_field :image, style: "display:none", id: "upload-image"
                            = image.hidden_field :status, value:"1"
                            %pre.visible-pc
                              :preserve
                                ドラッグアンドドロップ
                                またはクリックしてファイルをアップロード
                    / react-empty: 17
                    / react-empty: 18
                    / react-empty: 19
                    / react-empty: 20
                  .sell-content
                    .form-group
                      %label
                        / react-text: 24
                        商品名
                        / /react-text
                        %span.form-require 必須
                      %div
                        = f.text_field :name, class: "input-default", placeholder: "商品名（必須 40文字まで)"
                      / react-empty: 28
                    .form-group
                      %label
                        / react-text: 31
                        商品の説明
                        / /react-text
                        / react-text: 32
                        / /react-text
                        %span.form-require 必須
                      = f.text_area :detail, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", row: "5"
                      / react-empty: 35
                  .sell-content.clearfix
                    %h3.sell-sub-head 商品の詳細
                    .sell-form-box
                      .form-group
                        %label
                          / react-text: 41
                          カテゴリー
                          / /react-text
                          %span.form-require 必須
                        %div
                          .select-wrap
                            = f.fields_for :product_categories do |category|
                              = category.select :large_class_id, {"---" => ""}.merge(@large_classes.map{|t| [t.name, t.id]}.to_h), {}, {class: "select-default"}
                        / react-empty: 48
                      .form-group
                        %label
                          / react-text: 51
                          商品の状態
                          / /react-text
                          %span.form-require 必須
                        .select-wrap
                          %select.select-default
                            %option{:value => ""} ---
                            %option{:value => "1"} 新品、未使用
                            %option{:value => "2"} 未使用に近い
                            %option{:value => "3"} 目立った傷や汚れなし
                            %option{:value => "4"} やや傷や汚れあり
                            %option{:value => "5"} 傷や汚れあり
                            %option{:value => "6"} 全体的に状態が悪い
                          %i.icon-arrow-bottom
                        / react-empty: 57
                  .sell-content.clearfix
                    %h3.sell-sub-head 配送について
                    %a.form-question{:href => "/jp/help_center/article/68/", :target => "_blank"} ?
                    .sell-form-box
                      .form-group
                        %label
                          / react-text: 64
                          配送料の負担
                          / /react-text
                          %span.form-require 必須
                        .select-wrap
                          %select.select-default
                            %option{:value => ""} ---
                            %option{:value => "1"} 送料込み(出品者負担)
                            %option{:value => "2"} 着払い(購入者負担)
                          %i.icon-arrow-bottom
                        / react-empty: 70
                      .form-group
                        %label
                          / react-text: 73
                          発送元の地域
                          / /react-text
                          %span.form-require 必須
                        .select-wrap
                          %select.select-default
                            %option{:value => ""} ---
                            - (1..47).each do |prefecture|
                              %option{:value => "#{prefecture}"} #{prefecture}
                          %i.icon-arrow-bottom
                        / react-empty: 79
                      .form-group
                        %label
                          / react-text: 82
                          発送までの日数
                          / /react-text
                          %span.form-require 必須
                        .select-wrap
                          %select.select-default
                            %option{:value => ""} ---
                            %option{:value => "1"} 1~2日で発送
                            %option{:value => "1"} 2~3日で発送
                            %option{:value => "1"} 4~7日で発送
                          %i.icon-arrow-bottom
                        / react-empty: 88
                  .sell-content.clearfix
                    %h3.sell-sub-head 販売価格(300〜9,999,999)
                    %a.form-question{:href => "/jp/help_center/article/64/", :target => "_blank"} ?
                    .sell-form-box
                      %ul.sell-price
                        %li.form-group
                          .clearfix
                            %label.l-left
                              / react-text: 97
                              価格
                              / /react-text
                              %span.form-require 必須
                            .l-right.sell-price-input
                              / react-text: 100
                              ¥
                              / /react-text
                              %div
                                %input.input-default{:placeholder => "例）300", :value => ""}/
                          / react-empty: 103
                        %li.clearfix
                          .l-left 販売手数料(10%)
                          .l-right -
                        %li.clearfix.bold
                          .l-left 販売利益
                          .l-right -
                  .modal{:role => "dialog", :tabindex => "-1"}
                    .modal-inner
                  .sell-content.sell-btn-box
                    %div
                      %p
                        %a{:href => "/jp/help_center/getting_started/prohibited_items/", :target => "_blank"} 禁止されている出品
                        / react-text: 116
                        、
                        / /react-text
                        %a{:href => "/jp/help_center/getting_started/prohibited_conduct/", :target => "_blank"} 行為
                        / react-text: 118
                        を必ずご確認ください。
                        / /react-text
                      %p
                        / react-text: 120
                        またブランド品でシリアルナンバー等がある場合はご記載ください。
                        / /react-text
                        %a{:href => "/jp/help_center/getting_started/counterfeit_goods/", :target => "_blank"} 偽ブランドの販売
                        / react-text: 122
                        は犯罪であり処罰される可能性があります。
                        / /react-text
                      %p
                        / react-text: 124
                        また、出品をもちまして
                        / /react-text
                        %a{:href => "/jp/seller_terms/"} 加盟店規約
                        / react-text: 126
                        に同意したことになります。
                        / /react-text
                      = f.submit "出品する", class: "btn-default btn-red"
                      / %button.btn-default.btn-red{:type => "submit"}
                      / %button.btn-default.btn-red{:disabled => "disabled", :type => "submit"}
                      / react-text: 128
                      / 出品する
                      / /react-text
                      .loading.loading-black
                    %a.btn-default.btn-gray もどる
                    / react-empty: 130
                .overlay
      %footer.single-footer
        %nav
          %ul.clearfix
            %li
              %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
            %li
              %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
            %li
              %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
        %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1845134038", :width => "80"}/
        %p
          %small 2018 Mercari
    :javascript
      render({
        www_url: 'https://www.mercari.com/jp/',
        item_url: 'https://item.mercari.com/jp/',
        region: 'jp',
        locale: 'ja_JP'
      }, 'd37e42747fe2d7054ebc69498b1fe48d15bf095415a64fa718b7328cc1a99974cbded9dc457527fbe1b14e48d2c874105cf9c952bdf8e9ee2c96b06884afe3529', '5ff90c068f719d8c6139d94aab41661a');
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50190241-1', 'auto');
      ga('send', 'pageview');
    / Google Tag Manager
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KLPT5L5');
    / End Google Tag Manager
    / Google Tag Manager (noscript)
    %noscript
      %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", :style => "display:none;visibility:hidden", :width => "0"}
    / End Google Tag Manager (noscript)
