= render "layouts/header"
%nav.bread-crumbs
  %ul
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %a{href: "/", itemprop: "url"}
        %span{itemprop: "title"} メルカリ
      %i.fas.fa-angle-right
    %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %span{itemprop: "title"}
        = @product.name
%main.l-container.clearfix
  .l-content
    %section.item-box-container
      %h2.item-name
        = @product.name
      .item-main-content.clearfix
        .item-photo
          .owl-carousel
            - @product.product_images.each do |product|
              .owl-item-inner{"data-thumbnail-class-name": ""}
                %img.owl-lazy{"data-src": "#{product.image}"}/
        %table.item-detail-table
          %tr
            %th 出品者
            %td
              = link_to @product.user.nickname, "/exhibitors/#{@product.user_id}"
              %div
                .item-user-ratings
                  %i.fas.fa-laugh
                  %span 0
                .item-user-ratings
                  %i.fas.fa-meh
                  %span 0
                .item-user-ratings
                  %i.fas.fa-sad-tear
                  %span 0
          %tr
            %th カテゴリー
            %td
              %a{:href => ""}
                .item-detail-table-sub-category
                  %i.icon-arrow-right
                  = @productcategory[0].large_class.name
              %a{:href => ""}
                .item-detail-table-sub-category
                  %i.icon-arrow-right
                  = @productcategory[0].middle_class.name
              %a{:href => ""}
                .item-detail-table-sub-sub-category
                  %i.icon-arrow-right
                  = @productcategory[0].small_class.name
            / カテゴリーの詳細画面がないので、リンク先はノータッチ
          %tr
            %th ブランド
            / ブランドテーブルがないので保留
            %td
              %a{:href => ""}
                %div
          %tr
            %th 商品の状態
            %td
              = @product.condition
          %tr
            %th 配送料の負担
            %td
              = @product.delivery_cost
          %tr
            %th 配送の方法
            %td
              らくらくメルカリ便
          %tr
            %th 配送元地域
            %td
              = link_to @product.prefecture, ""
          %tr
            %th 発送日の目安
            %td
              = @product.delivery_date
      .item-price-box.text-center
        %span.item-price.bold
          ¥
          = price_delimiter(@product.price)
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      %a.item-buy-btn.f18-24{"data-client" => "hidden", :href => "/products/#{@product.id}/buy"} 購入画面に進む
      %a.item-btn-client{:href => "https://www.mercari.com/jp/transaction/buy/m"}
        %div{"data-client" => "visible"}
          購入画面に進む
      %a.item-action-text{"data-action" => "item/openDetail", "data-adjust-url" => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1", "data-key" => "id=m28824546027", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://"}
        アプリで購入
      .item-description.f14
        = @product.detail
      .item-button-container.clearfix
        .item-button-left
          %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m28824546027", "data-toggle" => "like", :name => "like!", :type => "button"}
            %i.icon-like-border
            %span いいね!
            %span.fade-in-down{"data-num" => "like"}
          %a.item-button.item-button-report.clearfix{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
            %i.icon-flag
            %span 不適切な商品の報告
          %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m28824546027/"}/
          %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m28824546027/"}/
          %input{:name => "__csrf_value", :type => "hidden", :value => "389f6d304ef0d1e57ce30a2b501480ffa86f5a09dab73c637b6b2391bff118f8ce166567391fa0e419057723dd967af8e2a7b4baeeb38344593f4072d7bc0d5c1"}/
        .item-button-right
          %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
            %i.icon-lock
            %span あんしん・あんぜんへの取り組み
            / ここは本家のリンクでいいですかね？？
    .item-detail-message
      .message-container
        .message-content
          %ul.message-items
            = render partial: 'comment', locals: {comment: @comments}
        .message-content
          .message-form
            %p
              相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = form_for [@product,@comment],class: "message-form" do |f|
            = f.text_field :text, class: 'textarea-default'
            = f.submit "コメントする", class: 'message-submit btn-default btn-gray'
        %aside.modal{"data-close" => "modal", "data-modal" => "delete-comment"}
          .modal-inner.modal-banner
            .modal-body
              .modal-head.bold 確認
              %div{"data-comment" => "body"}
              %br/
              本当にこのコメントを削除してよろしいですか？
            %form{:action => "https://www.mercari.com/jp/comment/delete/", :method => "POST"}
              .clearfix
                .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
                %button.modal-btn.modal-btn-submit{:type => "submit"}
                  削除する
              %input{:name => "item_id", :type => "hidden", :value => "m28824546027"}/
              %input{:name => "comment_id", :type => "hidden", :value => ""}/
              %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
              %input{:name => "__csrf_value", :type => "hidden", :value => "389f6d304ef0d1e57ce30a2b501480ffa86f5a09dab73c637b6b2391bff118f8ce166567391fa0e419057723dd967af8e2a7b4baeeb38344593f4072d7bc0d5c1"}/
      .item-social-media-box
        .text-center
          .fb-save{"data-uri" => "product://113299479059860/m28824546027"}
        %ul.social-media-box
          %li
            = link_to "#", class: "share-btn" do
              %i.fab.fa-facebook-square
          %li
            = link_to "#", class: "share-btn" do
              %i.fab.fa-twitter-square
          %li
            = link_to "#" do
              %i.fab.fa-line
      %section.items-box-container.clearfix.items-box-overflow
        %h2.items-box-head
          %a{:href => "/exhibitors/#{@product.user.id}"}
            = @product.user.nickname
            さんのその他の出品
        - @products.each do |product|
          = render partial: 'product', locals: {product: product}
      %aside.modal{"data-close" => "modal", "data-modal" => "report-item"}
        .modal-inner.modal-banner
          .modal-body
            .modal-head.bold 確認
            不適切な商品を報告しますか？
          .clearfix
            .modal-btn.modal-btn-cancel{"data-close" => "modal"} キャンセル
            %a{:href => "https://www.mercari.com/jp/report/m28824546027/"}
              %button.modal-btn.modal-btn-submit はい
  .l-side
    .l-visible-large
      %a.side-banner{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", :target => "_blank"}
        %img{:alt => "Download Mercari Now", :src => "//www-mercari-jp.akamaized.net/assets/img/common/jp/side_banner.jpg?1845134038"}/
= render partial: "layouts/footer"
